.gradient-unknown {
  background: linear-gradient(167.45deg, #9488f0 9.88%, #e967c4 74.3%, #82cf8a 140.39%);
  border-radius: 50%;
}
.gradient-bzx {
  background: linear-gradient(315deg, #003cda 19.25%, #33dfcc 86.5%);
  border-radius: 50%;
}

.border-rainbow {
  background: linear-gradient(89.67deg, #9488f0 6.33%, #e967c4 67.79%, #82cf8a 126.66%);
}
.input-rainbow {
  background: linear-gradient(77.45deg, #9488f0 19.97%, #e967c4 55.52%, #82cf8a 89.58%);
}
