.providerDialog{
  .modal-dialog{
    .modal-content{
      .modal-header {
         border-bottom: none;
      }
      .modal-body{
         .wallet-item{
            align-items: center;
            display: flex;
            margin: 16px auto 0px;
            width: 240px;
            border-color: #bcc5ce;
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 10px;
            outline: none;
            color:#4491e1;
            &:hover{
              background: #58a9ff;
              color: white;
            }
            &.active{
              color:white;
              background: #7ca2ca;
            }
           svg{
              margin-right: 15px;
           }
         }

      }
      .modal-footer{
        border-top:none;
      }
    }
  }
}

.navbar-nav.mobile{
   .header-custom-icon button{
      padding: 0px 2px;
   }
   .header-wallet-icon .wallet{
     padding: 8px 2px;
     margin-left: 2px;
   }
}